//----------------------------------------------------//
// FONTS                                              //
//----------------------------------------------------//

// Garniture => Helvetica Neue
//--------------------------------------------------//

@font-face {
  font-family: 'Theano Didot';
  src: url('../fonts/TheanoDidot.woff2') format('woff2'),
  url('../fonts/TheanoDidot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
