//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont: 'Theano Didot';
$mainFontSize: 18px;
$mainFontHeight: 24px;
$mainFontWeight: 400;
$mainFontColor: #fff;



// Variables => Colors
//----------------------------------------------------//
$default: #d2a64a;
